{{define "cards"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeCard</title>
    <link rel="icon" href="../static/img/site/pokeball.png">
    <link rel="stylesheet" href="../static/css/cards.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <header>
        <section>
            <a href="/welcome" style="width: 33.33%;">
                <div class="logo-header">
                    <img src="../static/img/site/logo.png" alt="">
                </div>
            </a>
            <div class="group">
                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                    <g>
                        <path
                            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                        </path>
                    </g>
                </svg>
                <form class="body-search" action="/search/cards" method="GET">
                    <label for="pokemonName" style="display: none;">Nom du Pokémon:</label>
                    <input class="input" placeholder="Search" type="text" id="pokemonName" name="name" required>
                    <button type="submit" style="display: none;">Rechercher</button>
                </form>
            </div>
            {{if .DataCompte.AsAdmin}}
            <div class="login-header" style="width: 25%;">
                <a href="/pokecount" class="href">
                    <div class="login-div">
                        <img src="{{.DataCompte.Picture}}" alt="">
                        <p>PokéCount</p>
                    </div>
                </a>
            </div>
            {{else}}
            {{if not .DataCompte.IsLoggedIn}}
            <div class="login-header" style="width: 25%;">
                <a href="/login" class="href">
                    <div class="login-div">
                        <img src="../static/img/site/pokeball.png" alt="">
                        <p>LOGIN</p>
                    </div>
                </a>
            </div>
            {{end}}
            {{end}}
        </section>
    </header>
    <section class="body-global_card">
        {{range .Cards}}
        <div class="info-card-global">
            <div class="img" id="card">
                <img src="{{.Images.Large}}" alt="{{.Name}}">
                <div class="glow"></div>
            </div>
            <section class="info-maxi-global">
                <div class="name-info">
                    <div class="name">
                        <h2>{{.Name}}</h2>
                        <p>{{.Supertype}} - {{ range .Subtypes }}{{ . }}{{ end }}</p>
                    </div>
                    <div class="hp">
                        <p>HP {{.Hp}}</p>
                        {{range .Types}}
                        <img src="../static/img/site/type/pokemonCard/{{.}}.png" alt="Metal Pokemon" width="30px"
                            height="30px">
                        {{end}}
                    </div>
                </div>
                <div class="bar"></div>
                <div class="attack-maxi-global">
                    <div class="info-attack">
                        <div class="titre-attack">
                            <p>ATTACKS</p>
                        </div>
                        {{range .Attacks}}
                        <div class="name-attack">
                            <div class="display-attacks">
                                <div class="icon-attacks">
                                    {{range .Cost}}
                                    <img src="../static/img/site/type/pokemonCard/{{.}}.png" alt="Metal Pokemon"
                                        width="30px" height="30px"><br>
                                    {{end}}
                                </div>
                                <div class="name-of-attacks">
                                    <p>{{.Name}}</p>
                                </div>
                            </div>
                            <div class="damage-attacks">
                                <p>{{.Damage}}</p>
                            </div>
                        </div>
                        <div class="discription-attack">
                            <p>{{.Text}}</p>
                        </div>
                        {{end}}
                    </div>
                </div>
                <div class="petit-info-complementaire">
                    <div class="petite-info">
                        <div>
                            <p>WEAKNESSES</p>
                        </div>
                        <div class="hhhhh">
                            {{range .Weaknesses}}
                            <img src="../static/img/site/type/pokemonCard/{{.Type}}.png" alt="Metal Pokemon"
                                width="30px" height="30px">
                            <p>{{.Value}}</p>
                            {{end}}
                        </div>

                    </div>
                    <div class="petite-info">
                        <div>
                            <p>RETREAT COST</p>
                        </div>
                        <div>
                            {{range .RetreatCost}}
                            {{if eq . "Colorless"}}
                            <img src="../static/img/site/type/pokemonCard/colorless.png" alt="Colorless Pokemon"
                                width="30px" height="30px">
                            {{else}}
                            <p>N/A</p>
                            {{end}}
                            {{end}}
                        </div>
                    </div>
                    <div class="petite-info">
                        <div>
                            <p>ARTIST</p>
                        </div>
                        <div>
                            {{.Artist}}
                        </div>
                    </div>
                    <div class="petite-info">
                        <div>
                            <p>RARITY</p>
                        </div>
                        <div>
                            {{.Rarity}}
                        </div>
                    </div>
                    <div class="petite-info">
                        <div>
                            <p>SET</p>
                        </div>
                        <div>
                            <img src="{{.Set.Images.Logo}}" alt="" width="150px">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    {{if $.DataCompte.AsAdmin}}
    {{ $isFavorite := false }}
    {{ $currentCardID := .ID }}

    {{ range $.DataCompte.FavCards }}
    {{ if eq $currentCardID .ID }}
    {{ $isFavorite = true }}
    {{ end }}
    {{ end }}

    {{ if $isFavorite }}
    <section class="bouton-section">
        <form action="/treatement/delete" method="post">
            <input type="hidden" name="username" value="{{$.DataCompte.Username}}" />
            <input type="hidden" name="cardID" value="{{.ID}}" />
            <button class="bouton-remove">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                    </svg> Remove {{.Name}} de votre Pokédex
                </span>
            </button>
        </form>
    </section>
    {{ else if not $isFavorite }}
    <section class="bouton-section">
        <form action="/treatement/fav" method="post">
            <input type="hidden" name="pokemonID" value="{{.ID}}">
            <input type="hidden" name="pokemonName" value="{{.Name}}">
            <input type="hidden" name="pokemonImage" value="{{.Images.Large}}">
            <button>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
                    </svg> Add {{.Name}} à votre Pokédex
                </span>
            </button>
        </form>
    </section>
    {{end}}
    {{else}}
    {{if not $.DataCompte.IsLoggedIn}}
    <section class="bouton-section">
        <a href="/login" class="href">
            <button>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    </svg> Log in to add {{.Name}} in your PokeDex
                </span>
            </button>
        </a>
    </section>
    {{end}}
    {{end}}
    {{end}}
    <footer style="margin-top: 250px;">
        <div class="footer-reseaux">
            <div class="footer-titre">
                <p>Nous suivre :</p>
            </div>
            <div class="reseaux">
                <a href="https://discord.gg/xXJckdxc">
                    <img src="../static/img/site/footer/Discord.png" alt="Discord">
                </a>
            </div>
        </div>
        <div class="footer-logo">
            <img src="../static/img/site/pokelog.png" alt="">
            <p>@Copyright PokeCenter2024</p>
        </div>
        <div class="footer-documents">
            <div class="doc">
                <a href="https://docs.pokemontcg.io/">
                    DOCUMENTATION API
                </a>
            </div>
            <div class="a-propos">
                <a href="/about">
                    ABOUT
                </a>
            </div>
        </div>
    </footer>
    <script>
        const card = document.getElementById("card");
        let bounds;

        function rotateToMouse(e) {
            const mouseX = e.clientX;
            const mouseY = e.clientY;
            const leftX = mouseX - bounds.x;
            const topY = mouseY - bounds.y;
            const center = {
                x: leftX - bounds.width / 2,
                y: topY - bounds.height / 2
            };

            // Ajustez le calcul pour créer l'effet 3D souhaité
            card.style.transform = `
                    perspective(1000px)
                    rotateX(${center.y / 10}deg)
                    rotateY(${-center.x / 10}deg)
                `;

            // Ajoutez la classe pour l'effet de brillance
            card.classList.add('shine');
        }

        card.addEventListener('mouseenter', () => {
            bounds = card.getBoundingClientRect();
            document.addEventListener('mousemove', rotateToMouse);
        });

        card.addEventListener('mouseleave', () => {
            document.removeEventListener('mousemove', rotateToMouse);
            card.style.transform = '';
            // Supprimez la classe pour l'effet de brillance
            card.classList.remove('shine');
        });
    </script>
</body>

</html>
{{end}}