{{define "accueil"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/img/site/pokeball.png">
</head>

<body>
    <header>
        <section>
            <a href="/welcome" style="width: 33.33%;">
                <div class="logo-header">
                    <img src="../static/img/site/logo.png" alt="">
                </div>
            </a>
            <nav>
                <ul>
                    <li class="deroulant"><a href="#">POKÉMON &ensp;</a>
                        <ul class="sous">
                            <li>
                                <form class="contenaire-btn" action="/cards/pokemon" method="GET">
                                    <input type="hidden" name="q" value="supertype:pokemon">
                                    <input type="hidden" name="orderBy" value="name">
                                    <button type="submit" class="btn-form">ALL</button>
                                </form>
                            </li>
                            <li>
                                <form class="contenaire-btn" action="/cards/pokemon_rarity" method="GET">
                                    <input type="hidden" name="q" value="supertype:pokemon">
                                    <input type="hidden" name="orderBy" value="rarity">
                                    <button type="submit" class="btn-form">RARITY</button>
                                </form>
                            </li>
                            <li>
                                <form class="contenaire-btn" action="/cards/pokemon_releaseDate" method="GET">
                                    <input type="hidden" name="q" value="supertype:pokemon">
                                    <input type="hidden" name="orderBy" value="set.releaseDate">
                                    <button type="submit" class="btn-form">RELEASE DATE</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="deroulant"><a href="#">TRAINER &ensp;</a>
                        <ul class="sous">
                            <li>
                                <form class="contenaire-btn" action="/cards/trainer" method="GET">
                                    <input type="hidden" name="q" value="supertype:trainer">
                                    <input type="hidden" name="orderBy" value="name">
                                    <button type="submit" class="btn-form">ALL</button>
                                </form>
                            </li>
                            <li>
                                <form class="contenaire-btn" action="/cards/trainer_rarity" method="GET">
                                    <input type="hidden" name="q" value="supertype:trainer">
                                    <input type="hidden" name="orderBy" value="rarity">
                                    <button type="submit" class="btn-form">RARITY</button>
                                </form>
                            </li>
                            <li>
                                <form class="contenaire-btn" action="/cards/trainer_releaseDate" method="GET">
                                    <input type="hidden" name="q" value="supertype:trainer">
                                    <input type="hidden" name="orderBy" value="set.releaseDate">
                                    <button type="submit" class="btn-form">RELEASE DATE</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="deroulant"><a href="#">ENERGY &ensp;</a>
                        <ul class="sous">
                            <li>
                                <form class="contenaire-btn" action="/cards/energy" method="GET">
                                    <input type="hidden" name="q" value="supertype:energy">
                                    <input type="hidden" name="orderBy" value="name">
                                    <button type="submit" class="btn-form">ALL</button>
                                </form>
                            </li>
                            <li>
                                <form class="contenaire-btn" action="/cards/energy_rarity" method="GET">
                                    <input type="hidden" name="q" value="supertype:energy">
                                    <input type="hidden" name="orderBy" value="rarity">
                                    <button type="submit" class="btn-form">RARITY</button>
                                </form>
                            </li>
                            <li>
                                <form class="contenaire-btn" action="/cards/energy_releaseDate" method="GET">
                                    <input type="hidden" name="q" value="supertype:energy">
                                    <input type="hidden" name="orderBy" value="set.releaseDate">
                                    <button type="submit" class="btn-form">RELEASE DATE</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            {{if .AsAdmin}}
            <div class="login-header">
                <a href="/pokecount" class="href">
                    <div class="login-div">
                        <img src="{{.Picture}}" alt="">
                        <p>PokéCount</p>
                    </div>
                </a>
            </div>
            {{else}}
            {{if not .IsLoggedIn}}
            <div class="login-header">
                <a href="/login" class="href">
                    <div class="login-div">
                        <img src="../static/img/site/pokeball.png" alt="">
                        <p>LOGIN</p>
                    </div>
                </a>
            </div>
            {{end}}
            {{end}}

        </section>
    </header>

    <section class="body-global">
        <div class="body">
            <div class="body-image">
                <img src="../static/img/site/pokemon.png" alt="">
            </div>
            <div class="body-search">
                <div class="group">
                    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                            <path
                                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                            </path>
                        </g>
                    </svg>
                    <form class="body-search" action="/search/cards" method="GET">
                        <label for="pokemonName" style="display: none;">Nom du Pokémon:</label>
                        <input class="input" placeholder="Search" type="text" id="pokemonName" name="name" required>
                        <button type="submit" style="display: none;">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
{{end}}