{{define "profil"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéCount</title>
    <link rel="stylesheet" href="../static/css/profil.css">
    <link rel="icon" href="../static/img/site/pokeball.png">
</head>

<body>
    <header>
        <section>
            <div class="header-button" style="width: 33.33%;">
                <a href="/welcome" class="href">
                    <button class="button">
                        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1"
                            viewBox="0 0 1024 1024">
                            <path
                                d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z">
                            </path>
                        </svg>
                        <span>HOME</span>
                    </button>
                </a>
            </div>
            <div class="header-titre">
                <p>PROFIL</p>
            </div>
        </section>
    </header>
    <section>
        <div class="body-global">
            <div class="info-profil">
                <div class="info">
                    <div class="picture-profil">
                        <img src="{{.Picture}}" alt="" height="100px" width="100px">
                    </div>
                    <div class="username-email">
                        <p>{{.Username}}</p>
                        <p>{{.Email}}</p>
                    </div>
                </div>
                <a href="/deconnexion" class="logout">
                    <div>
                        <button class="Btn">
                            <div class="sign"><svg viewBox="0 0 512 512">
                                    <path
                                        d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                                    </path>
                                </svg>
                            </div>
                            <div class="text">Logout</div>
                        </button>
                    </div>
                </a>
            </div>
            <div class="pokedex">
                <div class="pokedex-titre">
                    <p>POKÉDEX</p>
                </div>
                <div class="pokedex-bar">
                    <div class="bar-pokedex"></div>
                </div>
                <div class="deck">
                    {{range .FavCards}}
                    <div class="img">
                        <img src="{{.Image}}" alt="{{.Name}}">
                        <div class="buttons">
                            <form action="/treatement/delete" method="post">
                                <input type="hidden" name="username" value="{{$.Username}}" />
                                <input type="hidden" name="cardID" value="{{.ID}}" />
                                <div class="btn-delete">
                                    <button type="submit" class="deleteButton">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 59"
                                            class="bin">
                                            <path fill="#FFF"
                                                d="M0 7.5C0 5.01472 2.01472 3 4.5 3H45.5C47.9853 3 50 5.01472 50 7.5V7.5C50 8.32843 49.3284 9 48.5 9H1.5C0.671571 9 0 8.32843 0 7.5V7.5Z">
                                            </path>
                                            <path fill="#FFF"
                                                d="M17 3C17 1.34315 18.3431 0 20 0H29.3125C30.9694 0 32.3125 1.34315 32.3125 3V3H17V3Z">
                                            </path>
                                            <path fill="#FFF"
                                                d="M2.18565 18.0974C2.08466 15.821 3.903 13.9202 6.18172 13.9202H43.8189C46.0976 13.9202 47.916 15.821 47.815 18.0975L46.1699 55.1775C46.0751 57.3155 44.314 59.0002 42.1739 59.0002H7.8268C5.68661 59.0002 3.92559 57.3155 3.83073 55.1775L2.18565 18.0974ZM18.0003 49.5402C16.6196 49.5402 15.5003 48.4209 15.5003 47.0402V24.9602C15.5003 23.5795 16.6196 22.4602 18.0003 22.4602C19.381 22.4602 20.5003 23.5795 20.5003 24.9602V47.0402C20.5003 48.4209 19.381 49.5402 18.0003 49.5402ZM29.5003 47.0402C29.5003 48.4209 30.6196 49.5402 32.0003 49.5402C33.381 49.5402 34.5003 48.4209 34.5003 47.0402V24.9602C34.5003 23.5795 33.381 22.4602 32.0003 22.4602C30.6196 22.4602 29.5003 23.5795 29.5003 24.9602V47.0402Z"
                                                clip-rule="evenodd" fill-rule="evenodd"></path>
                                            <path fill="#FFF" d="M2 13H48L47.6742 21.28H2.32031L2 13Z"></path>
                                        </svg>
                                        <span class="tooltip">Delete</span>
                                    </button>
                                </div>
                            </form>
                            <div>
                                <a class="btn-detail" href="/card/{{.ID}}" style="text-decoration: none;">
                                    <button  class="btn">
                                        DETAILS
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </section>
</body>

</html>
{{end}}