@font-face {
    font-family: 'gotham';
    src: url('../font/Gotham-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'gotham';
}

body {
    background-color: #d6d6d6;
}

header {
    display: flex;
    justify-content: center;
    height: 5em;
    background-color: #ffffff;
    box-shadow: 0px 26px 50px -19px #000000
}

header section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo-header img {
    width: 350px;
    padding-left: 25px;
}

.logo-header {
    width: 33.33%;
    display: flex;
    align-items: center;
}

.login-header img {
    width: 50px;
}

.login-header {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.login-div {
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header a .login-div p {
    color: #000000;
    text-decoration: none;
}

.href {
    text-decoration: none;
    color: #000000;
}

.body-global {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.hidden {
    display: none;
}

.group {
    display: flex;
    line-height: 28px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.body-search {
    width: 100%;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.img {
    max-width: 33.33%;
    height: 100%;
}

.img img {
    width: 100%;
    padding-top: 50px;
}

.info-card-global {
    width: 70%;
    display: flex;
}

.body-global_card {
    display: flex;
    justify-content: center;
}

.name-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
}

.name {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.hp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.info-maxi-global {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 8.33333337%;
}

.bar {
    margin-top: 15px;
    border: 1px solid #000;
    width: 100%;
}

.prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.price-maxi-global {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.price-global {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    width: 100%;
    justify-content: space-between;
}

.prices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-price {
    font-size: 30px;
}

.name-attack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.attack-maxi-global {
    width: 100%;
}

.display-attacks {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.display-attacks p {
    font-size: 25px;
}

.damage-attacks p {
    font-size: 25px;
}

.petite-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.petite-info .hhhhh {
    display: flex;
    align-items: center;
}

.petit-info-complementaire {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
}

/* .petit-info-complementaire div {
    height: 100px;
} */

button {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}

button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    background-color: #0071e2;
}

.bouton-section {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
