@font-face {
    font-family: 'gotham';
    src: url('../font/Gotham-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'gotham';
}

body {
    background-color: #d6d6d6;
}

header {
    height: 10vh;
}

header section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    padding-left: 25px;
}

.img-profil {
    border: 2px solid #7c7c7c; /* Ajoutez un style de bordure */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animation pour une transition en douceur */
}

/* Style de la bordure lorsqu'il est sélectionné */
input[type="radio"]:checked + .img-profil {
    border-color: #002fff; /* Couleur de la bordure pour l'état sélectionné */
    background-color: #bbe5f8; /* Couleur de fond pour l'état sélectionné */
}

input[type="radio"] {
    display: none;
}

.button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

.button>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.button:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}

.header-titre {
    font-size: 30px;
    translate: 50%;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.body-global {
    background-color: #939292;
    width: 90%;
    height: 90%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body-image {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.body-image form button {
    background: none;
    border: none;
}

.body-image img {
    width: 50px;
}

.body-image img:hover {
    cursor: pointer;
}

.body-profil {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80%;
}

.img-profil img {
    width: 80px;
}

.img-profil img:hover {
    cursor: pointer;
}

.img-profil {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.selected {
    background-color: #4bff04;
}

.img-profil-global {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 15px;
    padding-top: 15px;
    width: 100%;
    overflow: auto;
    align-content: flex-start;
}

.button-body button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button-body button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button-body button:hover::before {
    width: 9em;
}

.button-body {
    display: flex;
    justify-content: center;
}

.button-body button:hover {
    cursor: pointer;
}