@font-face {
    font-family: 'gotham';
    src: url('../font/Gotham-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'gotham';
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #d6d6d6;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    height: 5em;
    background-color: #ffffff;
    box-shadow: 0px 26px 50px -19px #000000
}

header section {
    display: block;
    z-index: 10000;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logo-header img {
    width: 350px;
    padding-left: 25px;
}

.logo-header {
    width: 33.33%;
    display: flex;
    align-items: center;
}

nav {
    width: 33.33%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav ul li {
    float: left;
    width: 33.33%;
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: center;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}

.conteneur {
    margin: 50px 20px;
    height: 1500px;
}

.login-header img {
    width: 50px;
}

.login-header {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.login-div {
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header a .login-div p {
    color: #000000;
    text-decoration: none;
}

.href {
    text-decoration: none;
    color: #000000;
}

.body-global {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokemon-image {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.group {
    display: flex;
    line-height: 28px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.body-search {
    width: 100%;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.section-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-global {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cards img {
    border-radius: 20px;
    box-shadow: 0.5em 0.5em .6em rgb(90, 90, 90);
    width: 350px;
    height: auto;
}

.img-poke {
    border: none;
    background: none;
    animation: myAnimOut 0.2s ease 0s 1 forwards;
}

.img-poke:hover {
    cursor: pointer;
    animation: myAnim 0.2s ease 0s 1 forwards;
}

@keyframes myAnimOut {
    0% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes myAnim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.btn-form {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    font-size: 16px;
}

.btn-form:hover {
    display: block;
    cursor: pointer;
    color: #ffc400;
    text-decoration: underline;
}

.bouton-page-next,
.bouton-page-previous {
    gap: 6px;
    width: 8em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #f3f3f4;
    border: none;
}

.bouton-page-next svg,
.bouton-page-previous svg {
    width: 20px;
}

.bouton-page-next:hover,
.bouton-page-previous:hover {
    cursor: pointer;
    background-color: #a5a5a5;
}

.bouton-page-next button:hover,
.bouton-page-previous button:hover {
    cursor: pointer;
}

.pagination-global {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 15%;
    margin-top: 50px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    width: 30%;
}

.pagination-eq1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    width: 30%;
}

.bad-request-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bad-request-global p {
    font-size: 30px;
}

.body-global-general {
    flex: 1;
}